<?xml version="1.0"?>
<launch>
<arg name="uavID" default="uav0"/>
   <group ns="$(arg uavID)" >
	<arg name="ID" value="$(eval arg('uavID')[-1:])"/>
	<arg name="fcu_url" default="/dev/ttyTHS1:921600"/>
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
   </group>
</launch>

